# Content Filtering Recommendation Engine on the MovieLens Data

## 0. Preparation

We first read in all the packages we're going to need.

In [1]:
# Import packages
import pandas as pd
pd.set_option('display.max_columns', None)

from ast import literal_eval

We then review read in the data we're going to use for our content filtering recommendation engine. We first start with the ratings data. Here, we're interested in the user, movie and the rating the user gave a given movie.

In [2]:
# Output data
ratings_small = pd.read_csv('ratings_small.csv')
ratings_small = ratings_small[['userId', 'movieId', 'rating']]
ratings_small.head(10)

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0
5       1     1263     2.0
6       1     1287     2.0
7       1     1293     2.0
8       1     1339     3.5
9       1     1343     2.0

We now have a look at the movie metadata. This dataset provides the descriptive information of the movie, including a description of the movie, the production company, etc.

In this recommender, I'm only going to assume that we have no access to past review scores (i.e. to prevent data leakage). We will be evaluating movies based only on textual information.

In [3]:
metadata = pd.read_csv('movies_metadata.csv')
metadata = metadata[['id', 'original_title', 'overview', 'production_companies', 'genres']]

# Remove rows with bad IDs.
metadata = metadata.drop([19730, 29503, 35587])

metadata.head()

C:\Users\Rhys\Anaconda3\envs\recommendation-data-camp\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,original_title,overview,production_companies,genres
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'id': 35, 'name': 'Comedy'}]"

We also have data which describes the cast, crew and keywords which we will read and join to our metadata.

In [4]:
credits = pd.read_csv('credits.csv')
keywords = pd.read_csv('keywords.csv')

# Convert IDs to int. Required for merging
credits['id'] = credits['id'].astype('int')
metadata['id'] = metadata['id'].astype('int')
keywords['id'] = keywords['id'].astype('int')

# Merge keywords and credits into your main metadata dataframe
metadata = metadata.merge(credits, on='id')
metadata = metadata.merge(keywords, on='id')

metadata = metadata.dropna(subset=['id'])

metadata.head()

,id,original_title,overview,production_companies,genres,cast,crew,keywords
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'id': 35, 'name': 'Comedy'}]","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

In [6]:
#Replace NaN with an empty string
metadata = metadata.fillna('')

It looks like the production companies column is in the form of "stringified" lists. I'll clean this up.

In [7]:
features = ['production_companies', 'cast', 'crew', 'keywords', 'genres']
for feature in features:
    metadata[feature] = metadata[feature].apply(literal_eval)

In [8]:
metadata

,id,original_title,overview,production_companies,genres,cast,crew,keywords
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'id': 35, 'name': 'Comedy'}]","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."
5,949,Heat,"Obsessive master thief, Neil McCauley leads a ...","[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...","[{'id': 642, 'name': 'robbery'}, {'id': 703, '..."
6,11860,Sabrina,An ugly duckling having undergone a remarkable...,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...","[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...","[{'id': 90, 'name': 'paris'}, {'id': 380, 'nam..."
7,45325,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...","[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",[]
8,9091,Sudden Death,International action superstar Jean Claude Van...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...","[{'id': 949, 'name': 'terrorist'}, {'id': 1562..."
9,710,GoldenEye,James Bond must unmask the mysterious head of ...,"[{'name': 'United Artists', 'id': 60}, {'name'...","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...","[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam..."
10,9087,The American President,"Widowed U.S. president Andrew Shepherd, one of...","[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'cast_id': 1, 'character': 'Andrew Shepherd'...","[{'credit_id': '52fe44dac3a36847f80adfa3', 'de...","[{'id': 833, 'name': 'white house'}, {'id': 84..."
11,12110,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...","[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...","[{'id': 3633, 'name': 'dracula'}, {'id': 11931..."
12,21032,Balto,An outcast half-wolf risks his life to prevent...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","[{'cast_id': 1, 'character': 'Balto (voice)', ...","[{'credit_id': '593f24b9c3a3680369002371', 'de...","[{'id': 1994, 'name': 'wolf'}, {'id': 6411, 'n..."
13,10858,Nixon,An all-star cast powers this epic look at Amer...,"[{'name': 'Hollywood Pictures', 'id': 915}, {'...","[{'id': 36, 'name': 'History'}, {'id': 18, 'na...","[{'cast_id': 1, 'character': 'Richard Nixon', ...","[{'credit_id': '52fe43c59251416c7501d6f3', 'de...","[{'id': 840, 'name': 'usa president'}, {'id': ..."
14,1408,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...","[{'name': 'Le Studio Canal+', 'id': 183}, {'na...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...","[{'id': 911, 'name': 'exotic island'}, {'id': ..."
15,524,Casino,The life of the gambling paradise – Las Vegas ...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'cast_id': 4, 'character': 'Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...","[{'id': 383, 'name': 'poker'}, {'id': 726, 'na..."
16,4584,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...","[{'name': 'Columbia Pictures Corporation', 'id...","[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...","[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[{'credit_id': '52fe43cec3a36847f807101f', 'de...","[{'id': 420, 'name': 'bowling'}, {'id': 818, '..."
17,5,Four Rooms,It's Ted the Bellhop's first night on the job....,"[{'name': 'Miramax Films', 'id': 14}, {'name':...","[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...","[{'cast_id': 42, 'character': 'Ted the Bellhop...","[{'credit_id': '52fe420dc3a36847f800011b', 'de...","[{'id': 612, 'name': 'hotel'}, {'id': 613, 'na..."
18,9273,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...","[{'name': 'O Entertainment', 'id': 5682}, {'na...","[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...","[{'cast_id': 1, 'character': 'Ace Ventura', 'c...","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de...","[{'id': 409, 'name': 'africa'}, {'id': 1551, '..."
19,11517,Money Train,A vengeful New York transit cop decides to ste...,"[{'name': 'Columbia Pictures', 'id': 5}]","[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...","[{'cast_id': 1, 'character': 'John', 'credit_i...","[{'credit_id': '52fe44509251416c750305a1', 'de...","[{'id': 380, 'name': 'brother brother relation..."
20,8012,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,"[{'name': 'Jersey Films', 'id': 216}, {'name':...","[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...","[{'cast_id': 1, 'character': 'Chili Palmer', '...","[{'credit_id': '52fe448dc3a36847f809c729', 'de...","[{'id': 395, 'name': 'gambling'}, {'id': 416, ..."
21,1710,Copycat,An agoraphobic psychologist and a female detec...,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...","[{'cast_id': 8, 'character': 'Helen Hudson', '...","[{'credit_id': '52fe430ec3a36847f803722d', 'de...","[{'id': 796, 'name': 'police brutality'}, {'id..."
22,9691,Assassins,Assassin Robert Rath arrives at a funeral to k...,"[{'name': 'Silver Pictures', 'id': 1885}, {'na...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'cast_id': 1, 'character': 'Robert Rath', 'c...","[{'credit_id': '52fe451cc3a36847f80bd145', 'de...","[{'id': 271, 'name': 'competition'}, {'id': 44..."
23,12665,Powder,Harassed by classmates who won't accept his sh...,"[{'name': 'Caravan Pictures', 'id': 175}, {'na...","[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...","[{'cast_id': 1, 'character': 'Jessie Caldwell'...","[{'credit_id': '52fe45129251416c7504ab67', 'de...","[{'id': 7345, 'name': 'dead animal'}, {'id': 1..."
24,451,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...","[{'name': 'United Artists', 'id': 60}, {'name'...","[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...","[{'cast_id': 1, 'character': 'Ben Sanderson', ...","[{'credit_id': '52fe4245c3a36847f80111c3', 'de...","[{'id': 30, 'name': 'individual'}, {'id': 549,..."
25,16420,Othello,The evil Iago pretends to be friend of Othello...,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","[{'id': 18, 'name': 'Drama'}]","[{'cast_id': 2, 'character': 'Othello', 'credi...","[{'credit_id': '5462510ec3a368082d000121', 'de...","[{'id': 497, 'name': 'shakespeare'}, {'id': 93..."
26,9263,Now and Then,Waxing nostalgic about the bittersweet passage...,"[{'name': 'New Line Cinema', 'id': 12}]","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'cast_id': 9, 'character': 'Young Roberta Ma...","[{'credit_id': '52fe44dec3a36847f80aed45', 'de...","[{'id': 1228, 'name': '1970s'}, {'id': 5248, '..."
27,17015,Persuasion,This film adaptation of Jane Austen's last nov...,"[{'name': 'BBC Films', 'id': 288}]","[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...","[{'cast_id': 1, 'character': 'Anne Elliott', '...","[{'credit_id': '52fe46ff9251416c7508a8b3', 'de...","[{'id': 1316, 'name': 'captain'}, {'id': 33384..."
28,902,La Cité des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,"[{'name': 'Procirep', 'id': 311}, {'name': 'Co...","[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...","[{'cast_id': 24, 'character': 'One', 'credit_i...","[{'credit_id': '52fe428ac3a36847f8026c6f', 'de...","[{'id': 402, 'name': 'clone'}, {'id': 1566, 'n..."
29,37557,摇啊摇，摇到外婆桥,A provincial boy related to a Shanghai crime f...,"[{'name': 'Ministère des Affaires Étrangères',...","[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'cast_id': 2, 'character': 'Xiao Jingbao', '...","[{'credit_id': '52fe46559251416c910511c9', 'de...","[{'id': 964, 'name': 'servant'}, {'id': 2311, ..."
...,...,...,...,...,...,...,...,...
46598,45527,The Final Storm,A stranger named Silas flees from a devastatin...,[{'name': 'Boll Kino Beteiligungs GmbH & Co. K...,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...","[{'cast_id': 1, 'character': 'Gillian Grady', ...","[{'credit_id': '52fe46c7c3a36847f81119a1', 'de...",[]
46599,455661,In a Heartbeat,A closeted boy runs the risk of being outed by...,[{'name': 'Ringling College of Art and Design'...,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",[],"[{'credit_id': '5981a15c92514151e0011b51', 'de...","[{'id': 9673, 'name': 'love'}, {'id': 13130, '..."
46600,327237,"Bloed, Zweet en Tranen","Bloed, Zweet en Tranen (Blood, Sweat and Tears...",[],"[{'id': 18, 'name': 'Drama'}]","[{'cast_id': 2, 'character': 'André Hazes', 'c...","[{'credit_id': '54edb0e0c3a3686d58003a13', 'de...","[{'id': 5565, 'name': 'biography'}, {'id': 102..."
46601,84710,Jungle Woman,Paula the ape woman (Acquanetta) is alive and ...,"[{'name': 'Universal Pictures', 'id': 33}]","[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...","[{'cast_id': 2, 'character': 'Paula Dupree - t...","[{'credit_id': '52fe49099251416c910a0a89', 'de...","[{'id': 208422, 'name': 'paula dupree'}]"
46602,39562,To Be Fat Like Me,"Pretty, popular, and slim high-schooler Aly Sc...",[],"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...","[{'cast_id': 1, 'character': 'Alyson', 'credit...","[{'credit_id': '562ec44ec3a3681b5900bac2', 'de...","[{'id': 2064, 'name': 'overweight'}, {'id': 10..."
46603,14008,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,"[{'name': 'Walt Disney Television', 'id': 670}...","[{'id': 35, 'name': 'Comedy'}]","[{'cast_id': 1, 'character': 'Kelly Collins', ...","[{'credit_id': '52fe45c29251416c75061803', 'de...","[{'id': 171803, 'name': 'military school'}]"
46604,44330,Le tripot clandestin,A combination gambling den and bawdy house is ...,[],[],[],"[{'credit_id': '52fe4684c3a36847f81034f3', 'de...","[{'id': 169590, 'name': 'police raid'}]"
46605,49279,L'Homme à la tête de caoutchouc,A chemist in his laboratory places upon a tabl...,"[{'name': 'Star Film Company', 'id': 45867}]","[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...","[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe478dc3a36847f813bd5f', 'de...","[{'id': 10124, 'name': 'laboratory'}, {'id': 1..."
46606,44333,Les cartes vivantes,A bearded magician holds up a large playing ca...,"[{'name': 'Star-Film', 'id': 7159}]","[{'id': 14, 'name': 'Fantasy'}]","[{'cast_id': 2, 'character': 'The Magician', '...","[{'credit_id': '52fe4684c3a36847f810350b', 'de...","[{'id': 2343, 'name': 'magic'}, {'id': 154802,..."
46607,49277,Les affiches en goguette,A wall full of advertising posters comes to life.,"[{'name': 'Star-Film', 'id': 7159}, {'name': '...","[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...","[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe478dc3a36847f813bd4b', 'de...","[{'id': 154802, 'name': 'silent film'}, {'id':..."
46608,49271,Le locataire diabolique,A man rents an apartment and furnishes it in r...,"[{'name': 'Star Film Company', 'id': 45867}]","[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...","[{'cast_id': 2, 'character': 'Le Concierge', '...","[{'credit_id': '52fe478dc3a36847f813bd19', 'de...","[{'id': 11320, 'name': 'tenant'}, {'id': 15480..."
46609,44324,Le Roi du maquillage,The background of this picture represents a sc...,"[{'name': 'Star Film Company', 'id': 45867}]",[],"[{'cast_id': 2, 'character': 'Man with whisker...","[{'credit_id': '52fe4684c3a36847f810345f', 'de...",[]
46610,122036,Les Transmutations imperceptibles,This shows a prince entering upon the stage of...,"[{'name': 'Star Film Company', 'id': 45867}]",[],[],"[{'credit_id': '52fe4a74c3a368484e1542e9', 'de...",[]
46611,14885,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...","[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'id': 16, 'name': 'Animation'}, {'id': 10751...","[{'cast_id': 1, 'character': 'Roo (voice)', 'c...","[{'credit_id': '52fe46249251416c7506e969', 'de...","[{'id': 3335, 'name': 'halloween'}, {'id': 193..."
46612,49280,L'Homme orchestre,A band-leader has arranged seven chairs for th...,"[{'name': 'Star Film Company', 'id': 45867}]","[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...","[{'cast_id': 3, 'character': 'All the members ...","[{'credit_id': '52fe478dc3a36847f813bd6b', 'de...",[]
46613,106807,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,"[{'name': 'Star-Film', 'id': 7159}]","[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...","[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4a71c3a36847f81ce35b', 'de...","[{'id': 5970, 'name': 'wrestling'}, {'id': 607..."
46614,276895,Deep Hearts,"Deep Hearts is a film about the Bororo Fulani,...",[],"[{'id': 99, 'name': 'Documentary'}]",[],"[{'credit_id': '539ef1090e0a263dd00000d7', 'de...",[]
46615,404604,Maa,The bliss of a biology teacher’s family life i...,"[{'name': 'Mad Films', 'id': 82459}, {'name': ...","[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...","[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...","[{'id': 155794, 'name': 'physical abuse'}, {'i..."
46616,420346,The Morning After,The Morning After is a feature film that consi...,"[{'name': 'Oops Doughnuts Productions', 'id': ...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'cast_id': 0, 'character': 'Lauren', 'credit...","[{'credit_id': '587626f4c3a3682b33008299', 'de...",[]
46617,67179,San Michele aveva un gallo,Sentenced to life imprisonment for illegal act...,[],[],"[{'cast_id': 5, 'character': '', 'credit_id': ...","[{'credit_id': '5330178a9251413a720055e3', 'de...",[]
46618,84419,House of Horrors,An unsuccessful sculptor saves a madman named ...,"[{'name': 'Universal Pictures', 'id': 33}]","[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...","[{'cast_id': 5, 'character': 'The Creeper', 'c...","[{'credit_id': '58152c139251415a7f0047e2', 'de...","[{'id': 9748, 'name': 'revenge'}, {'id': 9826,..."
46619,390959,Shadow of the Blair Witch,"In this true-crime documentary, we delve into ...",[],"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...","[{'cast_id': 30, 'character': 'Debuty Hank Har...","[{'credit_id': '56ff6ddbc3a3686e9e0013bc', 'de...","[{'id': 224180, 'name': 'blair witch'}]"
46620,289923,The Burkittsville 7,A film archivist revisits the story of Rustin ...,"[{'name': 'Neptune Salad Entertainment', 'id':...","[{'id': 27, 'name': 'Horror'}]","[{'cast_id': 2, 'character': 'Branwall', 'cred...","[{'credit_id': '5403d669c3a3682d9800427d', 'de...","[{'id': 616, 'name': 'witch'}, {'id': 2035, 'n..."
46621,222848,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,"[{'name': 'Concorde-New Horizons', 'id': 4688}]","[{'id': 878, 'name': 'Science Fiction'}]","[{'cast_id': 1, 'character': 'Kira (as Cassand...","[{'credit_id': '5757f36ac3a3687d6f000e8a', 'de...",[]
46622,30840,Robin Hood,"Yet another version of the classic epic, with ...","[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...","[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",[]
46623,439050,رگ خواب,Rising and falling between a man and woman.,[],"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...","[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...","[{'id': 10703, 'name': 'tragic love'}]"
46624,111109,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'id': 18, 'name': 'Drama'}]","[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...","[{'id': 2679, 'name': 'artist'}, {'id': 14531,..."
46625,67758,Betrayal,"When one of her hits goes wrong, a professiona...","[{'name': 'American World Pictures', 'id': 6165}]","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",[]
46626,227506,Satana likuyushchiy,"In a small town live two brothers, one a minis...","[{'name': 'Yermoliev', 'id': 88753}]",[],"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",[]
46627,461257,Queerama,50 years after decriminalisation of homosexual...,[],[],[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",[]